<h1><%=h @user.username %></h1>
<p>
  <%=h @user.email %>
</p>
<p>
  <%=h @user.created_at %>
</p>
<p>
  Favorite Tags:
  <% @user.favorite_tags.each do |tag| %>
    <a href="<%= tag_url(tag) %>"><%= tag.name %></a>
  <% end %>
</p>
<a href="<%= favorite_url %>">checkout questions about your favorite tags</a>
<a href="<%= edit_user_url(@user) %>">edit user info</a>
<a href="<%= users_url %>">see all users</a>
