<h1><%=h @user.username %></h1>
<p>
  <%=h @user.email %>
</p>
<p>
  <%=h @user.created_at %>
</p>
<p>
  Favorite Tags:
  <% @user.favorite_tags.each do |tag| %>
    <a href="<%= tag_url(tag) %>"><%= tag.name %></a>
  <% end %>
</p>
<% if is_logged_in? && current_user == @user %>
  <a href="<%= favorite_url %>">checkout favorite tag questions</a>
  <a href="<%= edit_user_url(@user) %>">edit user info</a>
<% end %>
<a href="<%= users_url %>">see all users</a>
