<div class="answer-votes small-1 columns left"></div>
<% if ( question.get('answered') &&
    question.get('best_answer_id') == answer.get("id")) { %>
      <p> Best Answer! </p>
  <% } %>
  <div class="answer-body right small-11 columns">
    <%= answer.get('body') %>
  <div class="small-8 left">
    <% if (Qutria.currentUser.get('id') &&
      Qutria.currentUser.get('id') == answer.get('user_id')) { %>
        <a class="form-toggle left"
        data-selector="edit-answer-<%=answer.get('id')%>" href="#">
          Edit Your Answer</a>
        <form id="edit-answer-<%=answer.get('id')%>" class="hide" >
          <textarea name="answer[body]"><%= answer.get('body') %></textarea>
          <button class="edit-answer"> Edit </button>
        </form>
        <a class="delete-answer left" href="#">Delete Answer</a>
    <% } %>
    <% if (Qutria.currentUser.get('id') &&
      Qutria.currentUser.get('id') == question.get('user_id') &&
        !question.get("answered")) { %>
        <a class="mark-correct left" data-id="<%= answer.get('id') %>" href="#">Mark As Correct</a>
    <% } %>
    <div class="answer-comment left"></div>
</div>
<div class="answer-author small-4 right">

  </div>



</div>
<div class="answer-comments left small-8 small-offset-2"></div>
