<nav class="top-bar small-12">
    <ul class="left inline-list">
        <li><a href="#">Qutria</a></li>
      <% if (!!Qutria.currentUser.has("id")) { %>
      <li><a id="messages" class="form-toggle"
          data-selector="message-list" href="#"></a></li>
      <% } %>
    </ul>
      <% if (!!Qutria.currentUserNotifications) { %>
        <div id="message-list" class="hide">
          <span> Notifications </span>
          <ul>
          <% Qutria.currentUserNotifications.each( function (notification) { %>
            <li><a href="#">a new <%= notification.get('new_type') %> was posted about your <%= notification.get('your_type') %>
              </a>
            </li>
          <% }) %>
          </ul>
        </div>
      <% } %>
    <ul class="right inline-list">
      <% if (!!Qutria.currentUser.has("id")) { %>
        <li><a href="#/favorites">Favorite Tags</a></li>
        <li><a href="#/users/<%= Qutria.currentUser.get('id') %>">
          <img src="<%= Qutria.currentUser.get('img') %>">
          <span><%= Qutria.currentUser.get('username') %></span>
        </a></li>
        <li><a id="sign-out" href="#">Sign-Out</a></li>
      <% } else { %>
        <li><a href="#/sign-in">Sign-In</a></li>
        <li><a href="#/sign-up">Sign-Up</a></li>
      <% } %>
      <li>
        <input type="text" id="top-search" value="">
        <ul id="top-search-results" class="hide"></ul>
      </li>
    </ul>
</nav>
<div class="container clearfix small-12">
  <nav id="main-nav">
    <a class="home left" href="#"> </a>
    <ul class="right inline-list">
      <li><a href="#/questions">Questions</a></li>
      <li><a href="#/tags">All Tags</a></li>
      <li><a href="#/users">Users</a></li>
      <li><a href="#/unanswered">Unanswered</a></li>
      <li><a href="#">User</a></li>
    </ul>
  </nav>
</div>
