<h1>Question!!!</h1>
<div>
  <div id="question-votes"></div>
  <strong><%= question.get('title') %></strong>
  <p>
    <%= question.get('body') %>
  </p>
</div>
<% if (Qutria.currentUser.get('id') &&
      Qutria.currentUser.get('id') == question.get('user_id')) { %>
  <form id="edit-form">
    <input type="text" name="question[title]"
      value='<%= question.get("title") %>' >
      <textarea name="question[body]"><%= question.get('body') %>
      </textarea>
      <button id="update-question"> Update Question </button>
  </form>
  <button id="delete-question"> Delete Question </button>
<% } %>

<div class="question-tags"></div>
<div class="question-comments"></div>
<div class="answers"></div>
<div class="question-author"></div>
<div class="question-comment"></div>

<% if (Qutria.currentUser.get('id') ) { %>
  <form id="new-tag-form">
    <input type="text" name="taggable[name]" value="">
    <input type="hidden" name="taggable[taggings_id]"
      value="<%= question.get('id') %>">
    <input type="hidden" name="taggable[taggings_type]" value="Question">
      <button id="create-new-tag"> Tag This Question </button>
  </form>
<% } %>

<% if (Qutria.currentUser.get('id') ) { %>
  <form id="answer-form">
      <input type="hidden" name="answer[question_id]"
      value="<%= question.get('id') %>">
      <textarea name="answer[body]"></textarea>
      <button id="answer-question"> Add Your Answer </button>
  </form>
<% } %>
