<h1>Question!!!</h1>
<div>
  <strong><%= question.get('title') %></strong>
  <p>
    <%= question.get('body') %>
  </p>
</div>
<% if (Qutria.currentUser &&
      Qutria.currentUser.get('id') == question.get('user_id')) { %>
  <form id="edit-form">
    <input type="text" name="question[title]"
      value='<%= question.get("title") %>' >
      <textarea name="question[body]"><%= question.get('body') %>
      </textarea>
      <button id="update-question"> Update Question </button>
  </form>
  <button id="delete-question"> Delete Question </button>
<% } %>
<ul>
  <% if (question.get('tags')) { %>
    <%question.get('tags').forEach(function (tag) { %>
      <p>
        <%= tag.name %>
      </p>
    <% }) %>
  <% } %>
</ul>
<div class="question-comments"></div>
<div class="answers"></div>
<div class="question-author"></div>

<% if (Qutria.currentUser ) { %>
  <form id="answer-form">
      <input type="hidden" name="answer[question_id]"
      value="<%= question.get('id') %>">
      <textarea name="answer[body]"></textarea>
      <button id="answer-question"> Add Your Answer </button>
  </form>
<% } %>
