<p>
  <%= tag.get('name') %>
  <%= tag.get('description') %>
</p>
<form class="taggable-destroy">
  <input type="hidden" name="taggable[tag_id]" value="<%= tag.get('id') %>">
  <input type="hidden" name="taggable[taggings_type]" value="<%= taggings_type %>">
  <input type="hidden" name="taggable[taggings_id]" value="<%= taggings.get('id') %>">
  <button class="untag">Untag</button>
</form>
