<!DOCTYPE html>
<html>
<head>
  <title>Qutria</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
</head>
<body>
<script>
filepicker.setKey("<%= ENV['FILEPICKER'] %>");
</script>
<%= yield %>
</body>
</html>
